[tool.poetry]
name = "aiodynamo"
version = "21.6"
description = "Asyncio DynamoDB client"
authors = ["Jonas Obrist <jonas.obrist@hennge.com>"]
license = "Apache-2.0"
repository = "https://github.com/HENNGE/aiodynamo"
documentation = "https://aiodynamo.readthedocs.io"
classifiers = [
    "Framework :: AsyncIO",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3 :: Only",
    "Typing :: Typed",
    "License :: OSI Approved :: Apache Software License",
]
readme = "readme.md"
homepage = "https://github.com/HENNGE/aiodynamo"
keywords = ["dynamodb", "asyncio", "aws"]

[tool.poetry.dependencies]
python = "^3.7"
httpx = {version = "^0.11.1", optional = true}
aiohttp = {version = "^3.6.2", optional = true}
yarl = "^1.4.2"
typing_extensions = { version = "^3.7", python = "< 3.8" }

[tool.poetry.extras]
httpx = ["httpx"]
aiohttp = ["aiohttp"]

[tool.poetry.dev-dependencies]
pytest = "^6.0"
pytest-asyncio = "^0.14"
pytest-cov = "^2.6"
black = {version = "^21.5b0",allow-prereleases = true}
sphinx = "^3.3"
pyperf = "^2.0"
boto3 = "^1.12.18"
freezegun = "^1.0"
# using git version due to https://github.com/python/mypy/issues/10711
mypy = { git = "https://github.com/python/mypy.git", rev = "84504b0"}
pyfakefs = "^4.3.2"
isort = "^5.8.0"

[tool.isort]
line_length = "88"
multi_line_output = "3"
combine_as_imports = "1"
include_trailing_comma = "True"
known_first_party = "aiodynamo"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
