name: workflow

on: [push]

jobs:
  lock:
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry lock
      - uses: actions/cache@v2
        with:
          path: poetry.lock
          key: ${{ github.sha }}-${{ matrix.python-version }}
  pytest:
    needs: lock
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    runs-on: "ubuntu-latest"
    services:
      dynalite:
        image: dimaqq/dynalite:latest
        ports:
          - 8000:8000
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        with:
          path: poetry.lock
          key: ${{ github.sha }}-${{ matrix.python-version }}
      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry install --extras aiohttp --extras httpx
      - run: poetry run pytest --verbose
  mypy:
    needs: lock
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        with:
          path: poetry.lock
          key: ${{ github.sha }}-${{ matrix.python-version }}
      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry install --extras aiohttp --extras httpx
      - run: poetry run mypy
  isort:
    needs: lock
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - uses: actions/cache@v2
        with:
          path: poetry.lock
          key: ${{ github.sha }}-3.10
      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry install --extras aiohttp --extras httpx
      - run: poetry run isort --check --diff src tests
  black:
    needs: lock
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - uses: actions/cache@v2
        with:
          path: poetry.lock
          key: ${{ github.sha }}-3.10
      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry install --extras aiohttp --extras httpx
      - run: poetry run black --check src/ tests/
